# Bosques aleatorios

In [11]:
import numpy as np
import pandas as pd

## Importando datos

In [12]:
mammographic_standard = pd.read_csv('./processed/mammographic_masses_clean.csv')
mammographic_standard.head(10)

   Age  Shape  Margin  Density  Severity
0   67      3       5        3         1
1   58      4       5        3         1
2   28      1       1        3         0
3   57      1       5        3         1
4   76      1       4        3         1
5   42      2       1        3         1
6   36      3       1        2         0
7   60      2       1        2         0
8   54      1       1        3         0
9   52      3       4        3         0

## Selecci√≥n de datos de prueba

In [13]:
df_feat = mammographic_standard.drop('Severity', axis = 1)
df_feat.head()

   Age  Shape  Margin  Density
0   67      3       5        3
1   58      4       5        3
2   28      1       1        3
3   57      1       5        3
4   76      1       4        3

In [14]:
df_target = mammographic_standard['Severity'].to_frame()
df_target.head()

   Severity
0         1
1         1
2         0
3         1
4         1

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_feat, np.ravel(df_target), test_size=0.25, random_state=42)

## Entrenamiento del bosque

In [16]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100,random_state=101,criterion='gini')
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=101, verbose=0, warm_start=False)

In [17]:
rfc_pred = rfc.predict(X_test)

## Prueba del modelo

In [18]:
from sklearn.metrics import classification_report,confusion_matrix

In [19]:
print(confusion_matrix(y_test,rfc_pred))

[[79 27]
 [20 82]]

In [20]:
print(classification_report(y_test,rfc_pred))

             precision    recall  f1-score   support

          0       0.80      0.75      0.77       106
          1       0.75      0.80      0.78       102

avg / total       0.78      0.77      0.77       208