# Naive Bayes
Este algorítmo usa el teorema de Bayes para realizar la clasificación. En la librería scikit-learn existen varios modelos para aplicar pero en este caso usaremos el MultinomialNB para realizar la clasificación.

In [1]:
import numpy as np
import pandas as pd

## Importando los datos
Aquí importaremos los datos escalados usando mínimos y máximos

In [19]:
mammographic_min_max = pd.read_csv('./processed/mammographic_masses_min_max.csv')
mammographic_min_max.head(10)

        Age     Shape  Margin   Density  Severity
0  0.628205  0.666667    1.00  0.666667         1
1  0.512821  1.000000    1.00  0.666667         1
2  0.128205  0.000000    0.00  0.666667         0
3  0.500000  0.000000    1.00  0.666667         1
4  0.743590  0.000000    0.75  0.666667         1
5  0.307692  0.333333    0.00  0.666667         1
6  0.230769  0.666667    0.00  0.333333         0
7  0.538462  0.333333    0.00  0.333333         0
8  0.461538  0.000000    0.00  0.666667         0
9  0.435897  0.666667    0.75  0.666667         0

In [20]:
df_feat = mammographic_min_max.drop('Severity', axis = 1)
df_feat.head()

        Age     Shape  Margin   Density
0  0.628205  0.666667    1.00  0.666667
1  0.512821  1.000000    1.00  0.666667
2  0.128205  0.000000    0.00  0.666667
3  0.500000  0.000000    1.00  0.666667
4  0.743590  0.000000    0.75  0.666667

In [21]:
df_target = mammographic_standard['Severity'].to_frame()
df_target.head()

   Severity
0         1
1         1
2         0
3         1
4         1

## Datos de entrenamiento y prueba

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_feat, np.ravel(df_target), 
                                                    test_size=0.25, random_state=42)

## Realizando la clasificación con MultnomialNB

In [50]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB(alpha=0.0001)
mnb.fit(X_train,y_train)

MultinomialNB(alpha=0.0001, class_prior=None, fit_prior=True)

## Predicciones y evaluaciones

In [34]:
from sklearn.metrics import classification_report,confusion_matrix

In [51]:
y_predict = mnb.predict(X_test)

### Matriz de confusión

In [52]:
print(confusion_matrix(y_test,y_predict))

[[71 35]
 [16 86]]

### Reporte de clasificación

In [53]:
print(classification_report(y_test,y_predict))

             precision    recall  f1-score   support

          0       0.82      0.67      0.74       106
          1       0.71      0.84      0.77       102

avg / total       0.76      0.75      0.75       208