## Importación de Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**Obteniendo los datos**

In [4]:
mammographic_masses_clean = pd.read_csv('mammographic_masses_clean.csv')
mammographic_masses_clean.head()

   Age  Shape  Margin  Density  Severity
0   67      3       5        3         1
1   58      4       5        3         1
2   28      1       1        3         0
3   57      1       5        3         1
4   76      1       4        3         1

**Division de los datos en conjunto de entrenamiento y prueba**

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x= mammographic_masses_clean [['Age', 'Shape', 'Margin', 'Density']]
y= mammographic_masses_clean ['Severity']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.33, 
                                                    random_state=42)

**Entrenando y ajustando el modelo de regresión logística con el conjunto de entrenamiento.**

In [8]:
from sklearn.linear_model import LogisticRegression

In [11]:
logmodel = LogisticRegression(solver='lbfgs')
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

**Prediccion y Evaluacion**

** Se procedera a hacer el pronostico de los valores para los datos de prueba.**

In [12]:
predictions = logmodel.predict(X_test)

In [13]:
y_test

610    0
818    1
290    1
559    0
168    0
787    0
817    0
86     0
260    0
547    0
775    1
137    1
265    1
215    1
30     1
382    0
247    1
259    1
777    0
545    1
486    1
63     1
210    1
522    0
239    1
534    1
109    0
513    0
721    0
342    1
      ..
73     0
578    1
275    1
689    0
145    0
306    0
234    0
220    1
467    0
332    1
132    0
393    1
327    1
450    1
41     0
533    0
108    0
361    1
56     1
434    0
294    1
808    0
24     1
479    1
368    1
644    1
51     1
812    1
762    1
264    0
Name: Severity, Length: 275, dtype: int64

In [14]:
X_test

     Age  Shape  Margin  Density
610   21      2       1        3
818   54      4       4        3
290   74      4       3        3
559   24      2       1        3
168   63      2       1        3
787   51      1       1        3
817   53      4       5        3
86    47      1       1        2
260   44      1       4        3
547   54      4       3        3
775   62      4       5        3
137   72      4       5        3
265   78      4       4        3
215   77      4       4        3
30    67      4       5        3
382   49      1       1        3
247   72      4       4        3
259   61      1       1        3
777   65      2       1        3
545   59      4       3        3
486   65      3       3        3
63    71      4       4        3
210   55      4       5        4
522   46      2       1        3
239   71      4       2        3
534   62      4       4        3
109   54      1       1        3
513   44      4       1        1
721   72      2       1        3
342   83      4       4        3
..   ...    ...     ...      ...
73    59      4       3        2
578   50      4       3        3
275   55      4       4        3
689   76      3       2        3
145   46      1       1        3
306   53      2       1        3
234   66      4       3        3
220   46      4       4        3
467   41      2       2        3
332   43      4       3        3
132   49      2       1        3
393   53      1       1        3
327   67      4       2        3
450   83      4       5        3
41    73      2       1        2
533   64      2       4        3
108   44      4       4        3
361   69      4       5        3
56    80      4       4        3
434   36      3       1        3
294   50      4       3        3
808   64      1       1        3
24    67      3       4        2
479   28      4       4        3
368   84      4       5        3
644   69      2       4        3
51    44      4       4        2
812   58      3       4        3
762   42      1       1        1
264   61      4       1        3

[275 rows x 4 columns]

In [15]:
predictions

array([0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1], dtype=int64)

**Evaluación del modelo.**

In [19]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[103,  40],
       [ 22, 110]], dtype=int64)

**Reporte de clasificación para el modelo.**

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.82      0.72      0.77       143
           1       0.73      0.83      0.78       132

   micro avg       0.77      0.77      0.77       275
   macro avg       0.78      0.78      0.77       275
weighted avg       0.78      0.77      0.77       275